/* *{
background-color: powderblue;
} */


#fondo{
    background-image: url(../img/header.jpg);
    height: 100vh;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imagen{
  height: 75vh;
}
.icono{
  flex-basis:  calc(33.3% - 1rem);
  text-align: center;
  
}
.sin-estilo{
  list-style: none;
  

}
#fondo-comunicate{
  background-image: url(../img/encuentra.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:50vh;
}
.boton-color{
  background-color:  #e08709;
}
.letra-color{
  color: #e08709;
}
.letra-color:hover {
  color: blueviolet;
  
}
.letra-color-encima{
  color: #e08709;
}
